@model P2_BDE_Events.ViewModels.MesEvenementsOrgaViewModel

@{
    Layout = "~/Views/Shared/_LayoutOrganisateur.cshtml";
}

<link rel="stylesheet" href="~/css/Organisateur/MesEvenementsOrga.css">

@section Header {
    <ul>
        <li onclick="window.location.href = '@Url.Action("MesEvenementsOrgaTermines", "MesEvenements", new { area = "Organisateur" })'">
            Évènements passés
        </li>
        <li class="pageActive"
            onclick="window.location.href = '@Url.Action("MesEvenementsOrga", "MesEvenements", new { area = "Organisateur" })'">
            Évènements à venir
        </li>
    </ul>
}

@if (Model.Evenements.Any())
{
    <div class="ensembleEvenement">
        @foreach (var evenement in Model.Evenements)
        {
            <div class="afficheComplete">
                <div class="card"
                     onclick="window.location.href = '@Url.Action("ConsulterEvenement", new { area = "Organisateur", evenementId = evenement.Id })'">
                    <div class="card2">
                        <img src="@evenement.CoverPhotoPath" alt="">
                    </div>
                </div>
                <div class="titre">
                    <p>@evenement.Titre</p>
                </div>
                <div class="date">
                    @{
                        string dateISO = evenement.DateEvenement.ToString("dd-MM-yyyy HH:mm");
                    }
                    <p>@dateISO</p>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="noevent">
        <p>Vous n'avez aucun évènement en cours</p>
        <button class="creerEvenement">Créer un évènement</button>
    </div>
}