@model P2_BDE_Events.ViewModels.ReserverUnEvenementViewModel

@{
    Layout = "~/Views/Shared/_LayoutParticipant.cshtml";
}


<link rel="stylesheet" href="~/css/Participant/EvenementsInteressant.css">

@section Header {
    <ul>
        <li onclick="window.location.href = '@Url.Action("EvenementsTermines", "MesEvenements", new { area = "Participant" })'">Evènements terminés</li>
        <li onclick="window.location.href = '@Url.Action("ProchainsEvenements", "MesEvenements", new { area = "Participant" })'">Prochains évènements</li>
        <li class="pageActive" onclick="window.location.href = '@Url.Action("EvenementsInteressant", "MesEvenements", new { area = "Participant" })'">Evènements intéréssants</li>
    </ul>
}

<h2>Réservation de l'événement</h2>
<p>Événement : @Model.Evenement.Titre</p>
<p>Date : @Model.Evenement.DateEvenement</p>
<p>Date limite d'inscription des participants : @Model.Evenement.DateLimiteInscription</p>
<p>Description : @Model.Evenement.Description</p>
<p>Prix d'un billet : @Model.Evenement.PrixBillet</p>
<p>Nombre de participants inscrits : @Model.NbParticipant</p>


<form method="post">
    <input type="hidden" name="evenementId" value="@Model.Evenement.Id" />
    <button class="rejoindreEvenement" type="submit">Réserver</button>
</form>

@*
<p>Vous pouvez encore vous inscrire pour cet événement</p>
<button class="rejoindreEvenement" onclick="window.location.href = '@Url.Action("AgendaEvenement", "Agenda", new { area = "Participant" })'">Réserver cet évènement</button>*@