@model P2_BDE_Events.ViewModels.ConsulterEvenementViewModel
@{
    Layout = "~/Views/Shared/_LayoutOrganisateur.cshtml";
}

<link rel="stylesheet" href="~/css/Organisateur/ConsulterEvenement.css">

@section Header {
    <ul>
        <li
            onclick="window.location.href = '@Url.Action("ConsulterParticipants", "MesEvenements", new { area = "OrganisateurControllers" })'">
            Voir les participants</li>
        <li>Voir les prestattions</li>
        <li>Supprimer l'évènement</li>
    </ul>
}

<div class="boxAffiche">

    <div class="affiche">
        <img src="@Model.Evenement.CoverPhotoPath" alt="">
        <div class="bordure"></div>
    </div>

</div>

<div class="boxDetails">

    <div class="login-box">

        <form>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>@Model.Evenement.Titre</label>
            </div>
            <div class="user-box">
                @{
                    string dateISO = Model.Evenement.DateEvenement.ToString("yyyy-MM-dd");
                }
                <input type="date" name="" required="" value="@dateISO">
                <label></label>
            </div>
            <div class="user-box">
                <input type="number" name="" required="">
                <label>@Model.Evenement.PrixBillet €</label>
            </div>


            <center>
                <a href="#">
                    MODIFIER
                    <span></span>
                </a>
            </center>
        </form>
    </div>

</div>














<!-- <h3>Liste des participants :</h3>
@if (Model.Participants != null)
{
    <ol>
        @foreach (var participant in Model.Participants)
        {
            <li>@participant.Compte.Nom @participant.Compte.Prenom </li>
        }
    </ol>
} -->





@* <p>Nom de l'événement : @Model.Evenement.Titre</p>
<p>Date : @Model.Evenement.DateEvenement</p>
<p>Etat : @Model.Evenement.Etat</p>
<p>Date limite d'inscription des participants : @Model.Evenement.DateLimiteInscription</p>
<p>Description : @Model.Evenement.Description</p>
<p>Prix d'un billet : @Model.Evenement.PrixBillet</p>
<p>Nombre de participants inscrits : @Model.Evenement.NbParticipants</p> *@
