@model P2_BDE_Events.ViewModels.ConsulterEvenementViewModel
@{
    Layout = "~/Views/Shared/_LayoutOrganisateur.cshtml";
}

<link rel="stylesheet" href="~/css/ProfilOrganisateur/mesEvenements.css">
@section Header {
    <ul>
        <li onclick="window.location.href = '@Url.Action("EvenementsPrecedents", "MesEvenements", new { area = "Organisateur" })'">Evenements précédents</li>
        <li onclick="window.location.href = '@Url.Action("EvenementsEnCours", "MesEvenements", new { area = "Organisateur" })'">Evenements en cours</li>
        <li class="pageActive" onclick="window.location.href = '@Url.Action("EvenementsSuivants", "MesEvenements", new { area = "Organisateur" })'">Evenements suivants</li>
    </ul>
}
<h2>Détails de l'événement</h2>

<p><strong>Nom de l'événement :</strong> @Model.Evenement.Titre</p>
<p><strong>Date :</strong> @Model.Evenement.DateEvenement</p>
<p><strong>Etat :</strong> @Model.Evenement.Etat</p>
<p><strong>Date limite d'inscription des participants :</strong> @Model.Evenement.DateLimiteInscription</p>
<p><strong>Description :</strong> @Model.Evenement.Description</p>
<p><strong>Prix d'un billet :</strong> @Model.Evenement.PrixBillet</p>
<p><strong>Nombre de participants inscrits :</strong> @Model.Evenement.NbParticipants</p>



<h3>Liste des participants :</h3>
@*@if (participant != null && participant.Compte != null)
*@
<ol>
    @foreach (var participant in Model.Participants)
    {
        <li>@participant.NomBDE </li>
        <li>@participant.Compte.Nom @participant.Compte.Prenom </li>
    }
</ol>


