@{
    Layout = "~/Views/Shared/_LayoutOrganisateur.cshtml";
}
@using P2_BDE_Events.ViewModels
@model EvenementViewModel

@section Header {

}

<h1>ah?</h1>
<h1>@Model.Evenement.Titre</h1>


@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.Evenement.Titre)
    @Html.DropDownListFor( model => model.Evenement.Type, Model.TypeEvenements, new { @class="type-evenement" } )
    @Html.TextBoxFor(model => model.CoverPhoto, new { type = "file", accept = "image/*" })

    @Html.TextBoxFor(model => model.DateTimeTest.Date, new { @class = "datepicker" })//<-------date for DateTest
    @Html.TextBoxFor(model => model.DateTimeTest.TimeOfDay, new { @class = "timepicker" })//<-------time for DateTest


    <button type="submit">next</button>
}

<script>
    $(document).ready(function () {
        // Initialize the datepicker
        $(".datepicker").datepicker();

        // Initialize the timepicker
        $(".timepicker").timepicker();
    });
</script>
