@{
    Layout = "~/Views/Shared/_LayoutOrganisateur.cshtml";
}
@using P2_BDE_Events.ViewModels
@model EvenementViewModel

@section Header {

}

<h1>Creons Votre Evenement...</h1>
<h1>@Model.Evenement.Id</h1>
<h1>@Model.Evenement.Titre</h1>
<h1>@Model.Evenement.Type</h1>


@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Evenement.Titre)
    @Html.TextBoxFor(model => model.Evenement.Titre)
    <br />

    @Html.LabelFor(model => model.Evenement.Type)
    @Html.DropDownListFor( model => model.Evenement.Type, Model.TypeEvenements, new { @class="type-evenement" } )
    <br />

    <button type="submit">next</button>
}


