@using P2_BDE_Events.Models.Prestations
@using P2_BDE_Events.Models.Evenement
@model P2_BDE_Events.ViewModels.PrestationEvenementViewModel
@{
    Layout = "~/Views/Shared/_LayoutOrganisateur.cshtml";
}

<link rel="stylesheet" href="~/css/Organisateur/ConsulterEvenement.css">

@section Header {
    <ul>
        <li onclick="window.history.back();">
            Voir l'évènement
        </li>
    </ul>
}


<div class="boxAffiche">

    <div class="affiche">
        <img src="@Model.Evenement.CoverPhotoPath" alt="">
        <div class="bordure"></div>
    </div>

</div>



<div class="boxDetails">
    <div class="login-box">
        <div class="entete">
            Prestations de l'Evenement <em>@Model.Evenement.Titre</em>
        </div>
        <div>
            @foreach (LigneEvenement ligne in Model.Lignes)
            {
                <div class="card-prestation">
                    <div class="presta-type">@ligne.Type</div>
                    @if (ligne.Prestation != null)
                    {
                        <p>@ligne.Prestation.Prestataire.RaisonSocial - @ligne.Prestation.Titre</p>
                        <em>@ligne.TarifProposee €</em>
                    }
                    else if (ligne.Propositions.Count > 0)
                    {
                        <a class="button-link" href="@Url.Action("PropositionsDeLaPrestation", "PropositionsPrestations", new { area = "OrganisateurControllers", id = @ligne.Id })">
                            Propositions à valider
                        </a>
                    }
                    else
                    {
                        <p>En attente de propositions</p>
                    }
                </div>
            }
        </div>
    </div>
</div>

<style>
    .boxDetails {
        color: white
    }

    .login-box {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: normal;
        align-items: normal;
        align-content: normal;
    }

    .card-prestation {
        padding: 5px 10px;
        margin: 5px;
        background-color: #343434;
    }

        .card-prestation:hover {
            background-color: #28282B;
        }

    .entete{
        margin-bottom : 10px;
    }

    .presta-type {
        padding: 0px;
        font-weight : bolder;
    }

    .card-prestation p {
        padding: 0px;
        margin: 0px;
    }

    .card-prestation a{
        color : red;
        text-decoration : none;
    }

    .card-prestation em {
        color: #D3D3D3;
        text-decoration: none;
        font-weight : bolder;
    }

</style>