@using P2_BDE_Events.Models.Prestations
@model P2_BDE_Events.ViewModels.PropositionsPrestationViewModel

<h1>Propositions Pour</h1>
<h2>@Model.Ligne.Type</h2>

@using (Html.BeginForm("PropositionsDeLaPrestation", "PropositionsPrestations", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Ligne.Id)
    @Html.HiddenFor(model => model.PrestationChoisi)
    @foreach (PropositionPrestation proposition in Model.Propositions)
    {
        <div class="proposition">
            <h3>@proposition.Prestation.Titre</h3>
            <h4>@proposition.Prestation.Description</h4>
            <h5>@proposition.TarifPropose</h5>
            <button onclick="choisirProposition(@Json.Serialize(proposition.Prestation), '@Model.Ligne.Id')">Choisir</button>
        </div>
    }
}

<script>
    function choisirProposition(prestation, idLigne) {
        document.getElementById("PrestationChoisi").value = JSON.stringify(prestation);
        document.getElementById("LigneId").value = idLigne;
        document.getElementById("propositionForm").submit();
    }
</script>
