@using P2_BDE_Events.Models.Prestations
@model P2_BDE_Events.ViewModels.PropositionsPrestationViewModel

@{
    Layout = "~/Views/Shared/_LayoutOrganisateur.cshtml";
}

@section Header {
    
}


<h1>Propositions Pour</h1>
<h2>@Model.Ligne.Type</h2>

@foreach (PropositionPrestation proposition in Model.Propositions)
{
    <div class="proposition">
        <h3>@proposition.Prestation.Titre</h3>
        <h4>@proposition.Prestation.Description</h4>
        <h5>@proposition.TarifPropose</h5>
        @using (Html.BeginForm("PropositionsDeLaPrestation", "PropositionsPrestations", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.EvenementID, Model.EvenementID)
            <input type="hidden" name="LigneId" value="@Model.LigneId" />
            <input type="hidden" name="propositionId" value="@proposition.Id" />
            <button type="submit">Choisir</button>
        }
    </div>
}
