@model P2_BDE_Events.ViewModels.UnePrestationViewsModel
@{
    Layout = "~/Views/Shared/_LayoutPrestataire.cshtml";
}
@section Header {
}

<div>@Model.prestataire.Compte.Prenom</div>

<h2>Créer une prestation</h2>
<div class="row justify-content-center"> 
    <div class="col-lg-8 col-xl-7">
        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(m => m.prestation.Titre)
                @Html.TextBoxFor(m => m.prestation.Titre)
                @Html.ValidationMessageFor(m =>m.prestation.Titre)
            </div>
               <div>
                @Html.LabelFor(m => m.prestation.CapaciteMax)
                @Html.TextBoxFor(m => m.prestation.CapaciteMax, new { type = "number", min = "0"})
                @Html.ValidationMessageFor(m =>m.prestation.CapaciteMax)
            </div>
            @Html.HiddenFor( m => m.prestation.PrestataireId, @Model.prestataire.Id)
            <div>
                @Html.LabelFor(m => m.prestation.Tarif)
                @Html.TextBoxFor(m => m.prestation.Tarif, new { type = "number", min = "0"})
                @Html.ValidationMessageFor(m =>m.prestation.Tarif)
            </div>
            <div>
                @Html.LabelFor(m => m.prestation.CapaciteMax)
                @Html.TextBoxFor(m => m.prestation.CapaciteMax, new { type = "number", min = "0"})
                @Html.ValidationMessageFor(m =>m.prestation.CapaciteMax)
            </div>
            <div class="form-group">
                <label for="Prestataire.Calendrier">Calendrier</label>
                <input type="datetime-local" class="form-control" asp-for="Calendrier">
            </div>
            <div>
                @Html.LabelFor(m => m.prestation.Livraison)
                @Html.CheckBoxFor(m => m.prestation.Livraison)
                @Html.ValidationMessageFor(m =>m.prestation.Livraison)
            </div>
            <div>
                @Html.LabelFor(m => m.prestation.Description)
                @Html.TextBoxFor(m => m.prestation.Description)
                @Html.ValidationMessageFor(m =>m.prestation.Description)
            </div>

           /* <div class="form-group">
                    <label for="Prestataire.Tarif">Tarif</label>
                    <input type="number" class="form-control" asp-for="Tarif">
                </div>
                <div class="form-group">
                    <label for="Prestataire.Calendrier">Calendrier</label>
                    <input type="datetime-local" class="form-control" asp-for="Calendrier">
                </div>
                <div class="form-group">
                    <label for="Prestataire.Livraison">Livraison</label>
                    <input type="checkbox" class="form-control" asp-for="Livraison">
                </div>
                <div class="form-group">
                    <label for="Prestataire.Description">Description</label>
                    <textarea class="form-control" asp-for="Description"></textarea>
                </div>*/
                <div class="form-group">
                    <label for="Type">Type</label>
                    <select class="form-control" asp-for="Type">
                        <option value="@P2_BDE_Events.Models.Prestations.Enums.TypeDePrestation.SALLE">Salle</option>
                        <option value="@P2_BDE_Events.Models.Prestations.Enums.TypeDePrestation.DJ">DJ</option>
                        <option value="@P2_BDE_Events.Models.Prestations.Enums.TypeDePrestation.TRAITEUR">Traiteur</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Créer</button>
                }
                <style>
                    form {
                        max-width: 500px;
                        margin: 0 auto;
                        padding: 20px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        background-color: #F5F5F5;
                    }

                    .form-group {
                        margin-bottom: 15px;
                    }

                    label {
                        font-weight: bold;
                    }

                    input[type="text"],
                    input[type="number"] {
                        width: 100%;
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                    }

                    .btn-primary {
                        background-color: green;
                        color: #fff;
                        padding: 10px 20px;
                        border: none;
                        border-radius: 3px;
                        cursor: pointer;
                    }
                </style>

            
