@using P2_BDE_Events.Models.Evenement
@model P2_BDE_Events.ViewModels.EvenementPrestaViewModel

@{
    Layout = "~/Views/Shared/_LayoutPrestataire.cshtml";
}

@section Header {
}

@if (Model.Evenements.Count() == 0)
    {
        <div>Vous avez pas des evenements à venir</div>
        <button>Consulter les appels d'offre</button>
    }else
    {
    @foreach(Evenement evenement in Model.Evenements){
    <div class="card-evenement">
        <diV>
            @evenement.Titre
        </div>
        <diV>
            @evenement.Description
        </div>
        <diV>
            @evenement.NbParticipants participants inscrits sur @evenement.MaxParticipants
        </div>
        <div>
            @evenement.DateEvenement
        </div>
        @foreach(LigneEvenement ligne in evenement.Lignes)
        {
            @if (ligne.Prestation.PrestataireId == Model.IdPrestataire) 
            {
                <div>
                    @ligne.Prestation.Titre
                </div>
                <div>
                    @ligne.TarifProposee
                </div>
            }
        }
    </div>
    }
}