@model P2_BDE_Events.ViewModels.UnePrestationViewsModel
@{
    Layout = "~/Views/Shared/_LayoutPrestataire.cshtml";
}

@section Header {

}

<section>
    <h1 class="title">MODIFIER UNE PRESTATION</h1>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7 ModifierUnePrestation">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(m => m.prestation.PrestataireId, @Model.prestataire.Id)
                @Html.HiddenFor(m => m.prestation.Id, @Model.prestation.Id)
                <div class="user-box">
                    @Html.LabelFor(m => m.prestation.Titre)
                    @Html.TextBoxFor(m => m.prestation.Titre)
                    @Html.ValidationMessageFor(m =>m.prestation.Titre)
                    <span class="error-container"></span>
                </div>
                <div class="user-box">
                    @Html.LabelFor(m => m.prestation.CapaciteMax)
                    @Html.TextBoxFor(m => m.prestation.CapaciteMax, new { type = "number", min = "0"})
                    @Html.ValidationMessageFor(m =>m.prestation.CapaciteMax)
                    <span class="error-container"></span>
                </div>
                <div class="user-box">
                    @Html.LabelFor(m => m.prestation.Tarif)
                    @Html.TextBoxFor(m => m.prestation.Tarif, new { type = "number", min = "0"})
                    @Html.ValidationMessageFor(m =>m.prestation.Tarif)
                    <span class="error-container"></span>
                </div>
                @Html.HiddenFor(m => m.prestation.Calendrier, @Model.prestation.Calendrier)
                <div class="user-box">
                    @Html.LabelFor(m => m.prestation.Livraison)
                    @Html.CheckBoxFor(m => m.prestation.Livraison)
                    @Html.ValidationMessageFor(m =>m.prestation.Livraison)
                    <span class="error-container"></span>
                </div>
                <div class="user-box description">
                    @Html.LabelFor(m => m.prestation.Description)
                    @Html.TextBoxFor(m => m.prestation.Description)
                    @Html.ValidationMessageFor(m =>m.prestation.Description)
                    <span class="error-container"></span>
                </div>
                <div class="user-box">
                    <select class="form-control" id="Prestation.Type" name="Prestation.Type">
                        @foreach (var prestationType in Enum.GetValues(typeof(@P2_BDE_Events.Models.Prestations.Enums.TypeDePrestation)))
                        {
                            var formattedPrestationType = prestationType.ToString()[0].ToString().ToUpper() + prestationType.ToString().Substring(1).ToLower();
                            <option value="@prestationType">@formattedPrestationType</option>
                        }
                        }
                    </select>
                </div>

                <div class="text-center">
                    <button type="submit" class="creerEvenement">MODIFIER LA PRESTATION</button>
                </div>
            }
        </div>
    </div>
</section>

    <style>
        form {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f5f5f5;
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

    </style>

    
