@using P2_BDE_Events.Models.Prestations
@model List<Prestation>
@{
    Layout = "~/Views/Shared/_LayoutPrestataire.cshtml";
}

@section Header {
    <ul>
        <li class="creerPrestation" onclick="window.location.href = '@Url.Action("CreerUnePrestation", "CreerUnePrestation", new { area = "Prestataire"})'">CREER UNE PRESTATION</li>
    </ul>

}

<style>


    /* Styles pour le lien "CREER UNE PRESTATION" */
    .creerPrestation {
        font-size: 21px;
        color: darkred;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        text-align: center;
    }

        .creerPrestation:hover {
            color: red;
            cursor: pointer;
        }

    /* Styles pour la section "Mes prestations" */
    .title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
    }

    .container {
        display: flex;
        margin: 0 auto;
        max-width: 1200px;
        overflow: auto;
        max-height: 700px;
        align-content: stretch;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .prestation {
        background-color: rgba(24, 20, 20, 0.987);
        color: white;
        font-size: 18px;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        flex: 1;
        min-width: 300px;
        max-width: 400px;
        text-align: left;
    }

        .prestation h3 {
            font-size: 22px;
            text-align: center;
        }

    /* Styles pour les boutons */

    .btn {
        background-color: transparent;
    }

    .btn-supp {
        background-color: transparent;
    }

    .btn,
    .btn-supp {
        border: 2px solid grey;
        border-radius: 25px;
        box-sizing: border-box;
        color: whitesmoke;
        cursor: pointer;
        display: inline-block;
        font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 16px;
        font-weight: 600;
        line-height: 40px;
        margin: 5px;
        min-height: 40px;
        min-width: 0;
        outline: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        touch-action: manipulation;
        width: 100%;
        will-change: transform;
        
        
    }


        .btn:disabled {
            pointer-events: none;
        }


        .btn:hover,
        .btn-supp:hover {
            color: #fff;
            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
            transform: translateY(-2px);
        }

        .btn:focus,
        .btn:hover {
            background-color: mediumblue;
            border-color: aquamarine;
            outline: 0;
            box-shadow: 0 0 0 1px blue;
        }

        .btn-supp:hover,
        .btn-supp:focus {
            background-color: darkred;
            border-color: orangered;
            outline: 0;
            box-shadow: 0 0 0 1px red;
        }


    /* Style pour le séparateur */
    .separator {
        height: 2px;
        background-color: red;
        margin: 20px 0;
    }
</style>



<section>
    <h1 class="title">MES PRESTATIONS</h1>
    <div class="container" style="overflow-y: auto;">
        @foreach (var prestation in Model)
        {
            <div class="prestation">
                <h3>@prestation.Titre</h3>
                <div class="separator"></div>
                <p>Description : @prestation.Description</p>
                <p>Livraison : @(prestation.Livraison ? "Oui" : "Non")</p>
                <p>Capacite Maximale : @prestation.CapaciteMax</p>
                <p>Tarif : $@prestation.Tarif</p>


                @*<button type="submit" class="btn">Modifier</button>*@
                <a href="@Url.Action("ModifierUnePrestation", "CreerUnePrestation",new {id = prestation.Id })" class="btn">Modifier</a>
                @*<button type="submit" class="btn btn-supp">Supprimer</button>*@
                <a href="@Url.Action("SupprimerUnePrestation", "CreerUnePrestation",new { area = "Prestataire", id = prestation.Id })" class="btn btn-supp">Supprimer</a>
            </div>
        }
    </div>
    <div class="separator"></div>
</section>

<script>
    window.addEventListener('DOMContentLoaded', function () {
        var container = document.querySelector('.container');
        var content = document.querySelector('.container > div');

        if (content.clientHeight > container.clientHeight) {
            container.style.overflowY = 'auto';
        } else {
            container.style.overflowY = 'auto';
        }
    });
</script>
