@model P2_BDE_Events.ViewModels.CreaCompteAdminViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section Header {

}

@section Nav {

}

<link rel="stylesheet" href="/css/Login/CreerCompteSpecifique.css">

<section class="page-section portfolio mt-5">

    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Création de compte Administrateur</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            @*<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>*@
        </div>
        <div class="row justify-content-center">
            <div class="login-box">
                @using (Html.BeginForm())
                {
                    <div class="user-box">
                        @Html.LabelFor(m => m.Compte.Email)
                        @Html.TextBoxFor(m => m.Compte.Email)
                        @Html.ValidationMessageFor(m => m.Compte.Email)
                    </div>
                    <div class="user-box">
                        @Html.LabelFor(m => m.Compte.MotDePasse, "Mot de passe")
                        @Html.PasswordFor(m => m.Compte.MotDePasse)
                        @Html.ValidationMessageFor(m => m.Compte.MotDePasse)
                    </div>
                    <div class="user-box">
                        @Html.LabelFor(m => m.Compte.Nom)
                        @Html.TextBoxFor(m => m.Compte.Nom)
                        @Html.ValidationMessageFor(m => m.Compte.Nom)
                    </div>
                    <div class="user-box">
                        @Html.LabelFor(m => m.Compte.Prenom)
                        @Html.TextBoxFor(m => m.Compte.Prenom)
                        @Html.ValidationMessageFor(m => m.Compte.Prenom)
                    </div>
                    <div class="user-box">
                        @Html.LabelFor(m => m.Compte.NumeroTelephone, "Votre numéro de téléphone")
                        @Html.TextBoxFor(m => m.Compte.NumeroTelephone)
                        @Html.ValidationMessageFor(m => m.Compte.NumeroTelephone)
                    </div>
                    <center>
                        <button type="submit" id="boutonForm" class="btn-effects">Créer</button>
                        <span class="span"></span>
                    </center>
                }
            </div>
        </div>
    </div>
</section>

<style>
    .btn-effects {
        background-color : transparent;
        border : none;
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #ffffff;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px
    }

    .btn-effects:hover{
        background: red;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red, 0 0 100px red;
    }

    .span{
        position: absolute;
        display: block;
    }
</style>