@model P2_BDE_Events.ViewModels.CreaComptePrestaViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section Header {
    <p>Remplissez les champs de la création de votre profil de prestataire</p>
}

@section Nav {
    <li>Obtenir de l'aide</li>
}

<link rel="stylesheet" href="/css/Login/CreerCompteSpecifique.css">

<div class="login-box">
    <form asp-action="CreerEvenementSurMesure1" method="post" id="myForm">
        <!-- Champs d'entrée pour le téléphone -->
        <div class="user-box">
            @Html.TextBoxFor(m => m.Prestataire.RaisonSocial, new { required = "required" })
            @Html.LabelFor(m => m.Prestataire.RaisonSocial, "Raison Sociale")
        </div>

        <!-- Champs d'entrée pour le nom -->
        <div class="user-box">
            @Html.TextBoxFor(m => m.Compte.Nom, new { required = "required" })
            @Html.LabelFor(m => m.Compte.Nom, "Nom")
        </div>

        <!-- Champs d'entrée pour le prénom -->
        <div class="user-box">
            @Html.TextBoxFor(m => m.Compte.Prenom, new { required = "required" })
            @Html.LabelFor(m => m.Compte.Prenom, "Prénom")
        </div>

        <!-- Champs d'entrée pour le téléphone -->
        <div class="user-box">
            @Html.TextBoxFor(m => m.Compte.NumeroTelephone, new { required = "required" })
            @Html.LabelFor(m => m.Compte.NumeroTelephone, "Téléphone")
        </div>

        <!-- Champs d'entrée pour la ville -->
        <div class="user-box">
            @Html.TextBoxFor(m => m.Prestataire.ZoneActivite, new { required = "required" })
            @Html.LabelFor(m => m.Prestataire.ZoneActivite, "Ville d'activité")
        </div>

        <!-- Champs d'entrée pour la sélection de services -->
            @Html.LabelFor(m => m.Prestataire.TypeActivite, "Veuillez sélectionner le(s) service(s) proposé(s)", new { @class = "white-text" })

        @foreach (var serviceType in Model.AvailableServiceTypes ?? new List<SelectListItem>())
        {
            <div>
                <input type="checkbox" id="@serviceType.Value" name="SelectedServiceTypes" value="@serviceType.Value"
                @(Model.SelectedServiceTypes?.Contains(serviceType.Value) ?? false ? "checked" : "") class="form-check-input">
                <label for="@serviceType.Value" class="white-text">@serviceType.Text</label>
            </div>
        }


        <!-- Bouton SEND -->
        <center>
            <a href="#" id="boutonForm">
                CREER
                <span></span>
            </a>
        </center>
    </form>
</div>

<script>
    document.getElementById("boutonForm").addEventListener("click", function (e) {
        e.preventDefault();

        document.getElementById("myForm").submit();
    });
</script>
