@model P2_BDE_Events.ViewModels.CompteViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="page-section portfolio mt-5">

    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Connexion</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            @*<div class="divider-custom-icon"><i class="fas fa-star"></i></div>*@
            @*<div class="divider-custom-line"></div>*@
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">

@if (Model.Authentifie)
{
    <h3>
        Vous êtes déjà authentifié avec le login :
        @Model.Compte.Email
    </h3>
                    @Html.ActionLink("Voulez-vous vous déconnecter ?", "Logout")
}
else
{

    using (Html.BeginForm())
    {
        //if (User.IsInRole("Admin"))
        //{
        //}
                        //<div class="form-floating mb-3">
        <div>
                            @*@Html.LabelFor(m => m.Compte.Email, new { @class = "form-control", placeholder = "Email" })*@
            @Html.LabelFor(m => m.Compte.Email)
            @Html.TextBoxFor(m => m.Compte.Email)
            @Html.ValidationMessageFor(m => m.Compte.Email)
        </div>
                        //<div class="form-floating mb-3">
        <div>
@*                            @Html.LabelFor(m => m.Compte.MotDePasse,"Mot de Passe", new { @type="password", @class = "form-control", placeholder = "Mot de Passe" })
*@                            @Html.LabelFor(m => m.Compte.MotDePasse,"Mot de Passe")
            @Html.PasswordFor(m => m.Compte.MotDePasse)
            @Html.ValidationMessageFor(m => m.Compte.MotDePasse)
        </div>
                        <button class="btn btn-primary btn-xl" type="submit">Se Connecter</button>
        <br />
                        //@Html.ActionLink("Créer un compte", "CreerCompte")
    }
}
            </div>
        </div>
    </div>
</section>