@model P2_BDE_Events.ViewModels.CompteViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<link rel="stylesheet" href="/css/Login/Index.css">

@section Header {
    <p>Connectez-vous à votre compte</p>
}

@section Nav {
    <li onclick="window.location.href = '@Url.Action("CreerCompte", "Login")'">Créer un compte</li>
    <li>Mot de passe oublié</li>
    <li>Obtenir de l'aide</li>
}

@* @if (!Model.Authentifie)
{
    using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.Compte.Email)
            @Html.TextBoxFor(m => m.Compte.Email)
            @Html.ValidationMessageFor(m => m.Compte.Email)
        </div>
        <div>
            @Html.LabelFor(m => m.Compte.MotDePasse,"Mot de Passe")
            @Html.PasswordFor(m => m.Compte.MotDePasse)
            @Html.ValidationMessageFor(m => m.Compte.MotDePasse)
        </div>
        <button class="connexion" type="submit">Se Connecter</button>
    }
}
 *@

<div class="login-box">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myForm" }))
    {
        <div class="user-box">
            @Html.TextBoxFor(m => m.Compte.Email, new { required = "required" })
            @Html.LabelFor(m => m.Compte.Email, "Email")
            @Html.ValidationMessageFor(m => m.Compte.Email, "", new { @class = "validation-error" })
        </div>
        <div class="user-box">
            @Html.PasswordFor(m => m.Compte.MotDePasse, new { required = "required" })
            @Html.LabelFor(m => m.Compte.MotDePasse, "Mot de passe")
            @Html.ValidationMessageFor(m => m.Compte.MotDePasse, "", new { @class = "validation-error" })
        </div>
        <center>
            <a href="#" id="submitForm">
                SE CONNECTER
                <span></span>
            </a>
        </center>
    }
</div>

<script>
    document.getElementById("submitForm").addEventListener("click", function (event) {
        event.preventDefault();
        document.getElementById("myForm").submit();
    });
</script>
